@import url(global.css);


nav {
    position: static;
}
body {
    background-color: var(--primary-color);
    background-image: url(/assets/images/background-movies-series.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.form-content {
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 840px;
    margin-top: 20px;
    padding: 35px;
    height: fit-content;
    background-color: var(--form-bg-color);
    border-radius: 10px;
}

.form-content h1 {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}



.form-credentials {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.form-credentials label {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 52px 0px 0px 0px;
}

.form-credentials input {
    width: 98%;
    height: 53px;
    border-radius: 10px;
    background-color: var(--form-field-bg-color);
    border: var(--form-field-border);
    padding: 20px;
    color: var(--text-color);
}

.form-credentials input::placeholder {
    color: var(--form-field-placeholder);
    font-size: 1rem;
}

.form-credentials input:invalid {
    border-color: var(--form-field-error);
}

.form-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.login {
    margin-top: 50px;
    background: var(--btn-bg-color-gradient);
    background-size: 250%;
    width: 157px;
    height: 48px;
    border-radius: 50px;
    border: none;
    color: var(--text-color);
    font-size: 0.8rem;
    font-weight: 1000;
    letter-spacing: 5px;
}


form a {
    font-weight: 1000;
}

@media screen and (min-width:475px) {
    form a{
        margin-top: 50px;
    }

    footer {
        height: 100%;
    }

    html {
        height: 100%;
    }

    main {
        margin-top: 150px;
    }

    button {
        cursor: pointer;
    }

    .gradient-btn {
        transition: background 1s, outline 1s, transform 1s;
    }

    .gradient-btn:hover {
        background-color: transparent;
        background-position: 100%;
        outline: 2px solid var(--secondary-color);
        transform: scale(1.05);
    }
}